:root {
    --primary-light: #f1f1f1;
    --secondary-light: #fff
}

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


#header nav {
    background-color: #f1f1f1;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}

#header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: baseline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

li.logo {
    font-size: 1.5rem;
    margin-right: auto;
    font-family: 'Permanent Marker', cursive;
}

li.nav-item {
    padding: 0.5em;
}

li.nav-item:hover {
    background-color: #ddd;
    border-radius: 0.5em;
}

#main {
    grid-column: 1;
    grid-row: 2;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    overflow: scroll;
}

#main .card {
    background-color: var(--secondary-light);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: 1.5rem solid #333;
    max-height: 300px;
    max-width: 700px;
}

.card .header {
    border-bottom: 1px solid #ddd;
}

.card .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card .body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card .footer {
    align-self: flex-end;
    display: flex;
    gap: 1em;
    margin-top: auto;
}

.card .footer .btn {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card .footer .btn:hover {
    scale: 1.2;
}

#footer {
    grid-column: 1;
    grid-row: 3;
    background-color: #f1f1f1;
    padding: 1em;
    border-top: 1px solid #ddd;
}

#footer #controls {
    display: flex;
    gap: 1em;
    justify-content: center;
    font-size: 1.5rem;
}

#controls #add-book {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    
}

.hidden {
    display: none;
}

input[type="text"],
input[type="number"] {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 1px solid #333;
}

.form-btn {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    scale: 1.1;
    background-color: #444;
}

.form-btn:active {
    scale: 1;
    background-color: #333;
}